@import url('https://fonts.googleapis.com/css?family=Spartan : 100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Freckle+Face&display=swap');


/*------------------------------NavBar--------*/

.navbar {
    margin-bottom: 0;
    border: 0;
    background-color: lightpink;
    text-align: center;
    max-width: 1000px;
}

.navbar-brand{
    font-family: 'Freckle Face', cursive;
    font-size: 2em;
}

.nav-top a{
    text-transform: uppercase;
}


/*------------------------------Main Image--------*/

.container-main{
    margin-top: 100px;
    max-width: 1000px;
}

.hero-img{
    background-image: url('../images/hero-img.PNG');
    min-height: 300px;
    background-size: cover;
    display: flex;
}

.col-4, .col-8{   
    border: 1px solid black;
    margin: 0;
    padding: 0;
}


.col-8{

}



/*------------------------------Products--------*/


.block-divider{
    height: 2px;
    max-width: 1000px;
    background-color: #41B3A3;
}



/*------------------------------Footer--------*/

.footer{
    max-width: 1000px;
    position: relative;
    background-color: #87e960;
    color: #fafafa;
    min-height: 80px;
    bottom: 0px;
    position: fixed;
}


/*------------------------------Media Rules--------*/

@media(max-width: 700px) {
    
    }
}
