@import url('https://fonts.googleapis.com/css?family=Spartan : 100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Freckle+Face&display=swap');


/*------------------------------NavBar--------*/

.navbar {
    margin-bottom: 0;
    border: 0;
    background-color: lightpink;
    text-align: center;
    max-width: 1000px;
}

.navbar-brand{
    font-family: 'Freckle Face', cursive;
    font-size: 2em;
}

.nav-top a{
    text-transform: uppercase;
}


/*------------------------------Main Image--------*/

.container-main{
    margin-top: 80px;
    max-width: 1000px;
}

.hero.row{
}

.hero-img{
    background-image: url('../images/hero-img.PNG');
    background-size: cover;  
    min-height: 200px;
}

.info{
    text-align: right;
    margin-bottom: 30px;
}





/*------------------------------Products--------*/


.block-divider{
    height: 2px;
    width: 80%;
    max-width: 800px;
    background-color: #41B3A3;
}



/*------------------------------Footer--------*/

.footer{
    margin-top: 30px;
    max-width: 1000px;
    background-color: #73e745;
    color: #fafafa;
    min-height: 80px;
    bottom: 0px;    
}

#footer-info{
    text-align: left;
}

.social-links{
    padding-top: 30%;
    text-align: center;
}

.social-links li a i{
    color: #fafafa;
}

.social-links li a i:hover{
    color: lightpink;
}



/*------------------------------Media Rules--------*/

@media(min-width: 700px) {
    .hero-img{
        min-height: 500px;
    }
    .social-links{
        padding-left: 50%;
    }
}

@media(max-width: 700px){
    .social-links{
    padding-left: 60%;
    padding-top: 10%;
    }
}


