@import url('https://fonts.googleapis.com/css?family=Spartan : 100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Freckle+Face&display=swap');


/*------------------------------NavBar--------*/

.navbar {
    margin-bottom: 0;
    border: 0;
    background-color: lightpink;
    text-align: center;
    max-width: 1000px;
}

.navbar-brand{
    font-family: 'Freckle Face', cursive;
    font-size: 2em;
}

.nav-top a{
    text-transform: uppercase;
}


/*------------------------------Main Image--------*/

.main-img{
    background: url("../images/hero-img.jpg") no-repeat center; 
    height: 430px;
    max-width: 777px;
    margin-top: 70px;
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;*/
    background-size: cover;
    display: flex;
}

.main-img p{
    font-family: "Spartan", cursive;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 0;
}



/*------------------------------Products--------*/


.row-nav{
    max-width: 1000px;
    margin: 30px 0 30px 0;
    text-align: center;
}

.products{
    border: 2px solid black;
    margin: 20px 0 10px 0;
    height: 300px;
    max-width: 1000px;
}

.product-navbar{
    
}

.col-sm{
    height: 30px;
}


/*.block-divider{
    height: 2px;
    max-width: 1000px;
    background-color: #41B3A3;
}

.product-container{
    border-radius: 10px;
    border: 1px solid lightskyblue;
    height: 120px;
    text-align: center;
    max-width: 1000px;
    
    
}

.product-container a{
    font-family: "Spartan", cursive;
    font-weight: 700;
    color: darkorchid;
    text-align: center;
}

.product-container a:hover{
    color: lightpink;
}*/

/*------------------------------Footer--------*/

.footer{
    max-width: 1000px;
    position: relative;
    background-color: #87e960;
    color: #fafafa;
    min-height: 80px;
    bottom: 0px;
    position: fixed;
}


/*------------------------------Media Rules--------*/

@media(max-width: 700px) {
    .nav-link--products{
        margin: 0 20px 0 20px;
        
    }
}
